@media (min-width: 700px) {
  /* HEADER */
  header .container {
    flex-direction: row;
    justify-content: space-around;
  }
  header .coluna-direita nav ul {
    max-width: 400px;
  }

  /* MAIN */
  main .linha .container section {
    display: grid;
    width: 100%;
    grid-column: 49% 49%;
    align-items: center;
    grid-gap: 10px;
    justify-content: space-around;
  }
  header .coluna-esquerda figure img {
    width: 90%;
  }
  header .coluna-esquerda {
    width: 55%;
  }
  header .coluna-direita {
    width: 45%;
  }
  main .linha .container {
    width: 100%;
    max-width: 1280px;
  }
  #bolos h2 {
    width: 100%;
  }
  #bolos {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  main .linha .container section .coluna-esquerda table tr td hr {
    width: 16rem;
  }
  main .linha .container section .coluna-direita {
    margin-top: 50px;
  }
  main .linha .container section .coluna-direita table tr td hr {
    width: 10rem;
  }
}
